@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  font-family: Inter;
  font-size: 14px;
  line-height: 1.55;
  color: #4D526C;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  height: 50px;
  padding: 20px 30px;
  background-color: #213F74;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  color: #fff;
  font-weight: 500;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #0448bc;
}
.button:active {
  background-color: #122952;
}

.header__top {
  background-color: #F3F5F7;
}
.header__top-menu {
  font-size: 15px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top-list {
  display: flex;
}
.header__top-link {
  font-size: 15px;
  line-height: 1.35;
  transition: color 0.3s;
}
.header__top-link:not(:last-child) {
  margin-right: 40px;
}
.header__top-link a {
  color: #213F74;
}
.header__top-link a:hover {
  color: #0448bc;
}
.header__top-account {
  height: 36px;
  width: 170px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  background-color: #E7EDF5;
  transition: bacground-color 0.3s;
}
.header__top-account p {
  color: #213F74;
}
.header__top-account:hover {
  background-color: #DBE1E7;
}
.header__body {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__body-search {
  height: 50px;
  flex: 1 1 auto;
  position: relative;
  margin-left: 40px;
}
.header__body-input {
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 25px;
  background-color: #F3F5F7;
}
.header__body-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  transition: scale 0.3s;
}
.header__body-icon:hover {
  scale: 1.2;
}
.header__body-contact {
  margin-left: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.header__body-phone {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: -0.88px;
  color: #213F74;
  transition: color 0.3s;
}
.header__body-phone:hover {
  color: #0448bc;
}
.header__body-phone:active {
  color: #122952;
}
.header__body-schedule {
  position: relative;
}
.header__body-schedule::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #00DE59;
  position: absolute;
  top: 7px;
  left: -11px;
}
.header__body-btn {
  margin-left: 20px;
}
.header__popup {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  opacity: 1;
  transform: translateY(-50%) scale(0);
  transition: transform 0.3s;
}
.header__popup.active {
  transform: translateY(0%) scale(1);
}
.header__popup-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.header__popup-body {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  width: 460px;
  padding: 40px;
}
.header__popup-title {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -1.36px;
  color: #122952;
  margin-bottom: 20px;
}
.header__popup-text {
  margin-bottom: 20px;
}
.header__popup-input {
  height: 60px;
  width: 100%;
  background-color: #F3F5F7;
  border-radius: 30px;
  padding: 20px;
}
.header__popup-input:nth-child(1) {
  margin-bottom: 10px;
}
.header__popup-input:nth-child(2) {
  margin-bottom: 15px;
}
.header__popup-checkbox {
  margin-bottom: 20px;
}
.header__popup-checkbox input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  top: 2px;
  border-radius: 3px;
  background-color: #213F74;
  cursor: pointer;
}
.header__popup-checkbox input::after {
  content: url(../img/icons/angle-checkbox.svg);
  position: absolute;
  top: -2px;
  left: 3px;
  opacity: 0;
  transition: opacity 0.3s;
}
.header__popup-checkbox input:checked::after {
  opacity: 1;
}
.header__popup-btn {
  width: 100%;
}
.header__popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.header__popup-close svg path {
  transition: stroke 0.3s;
}
.header__popup-close:hover svg path {
  stroke: #7c8286;
}
.header__bottom {
  color: #fff;
  background-color: #213F74;
}
.header__bottom-container {
  margin-top: auto;
  margin-bottom: auto;
}
.header__bottom-inner {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__bottom-menu {
  height: 100%;
  display: flex;
  font-size: 15px;
}
.header__bottom-btn {
  font-size: 15px;
  height: 100%;
  color: #fff;
  background-color: #C6BCB2;
  padding: 0 40px;
  transition: background-color 0.3s;
}
.header__bottom-btn:hover {
  background-color: #B0A69B;
}
.header__bottom-btn span {
  margin-left: 5px;
}
.header__bottom-list {
  display: flex;
  text-align: center;
}
.header__bottom-link {
  display: flex;
  align-items: center;
  margin-left: 40px;
  transition: color 0.3s;
}
.header__bottom-link:hover {
  color: #C6BCB2;
}
.header__bottom-cart {
  font-size: 15px;
  margin: 0 35px;
  min-width: 96px;
}
.header__bottom-icon {
  position: relative;
  margin-right: 10px;
}
.header__bottom-icon img {
  transition: scale 0.3s;
}
.header__bottom-icon img:hover {
  scale: 1.2;
}
.header__bottom-icon span {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #C6BCB2;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -6px;
  right: -2px;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
}

.swiper {
  height: 600px;
}
.swiper .swiper-pagination {
  width: auto;
  left: auto;
  right: calc((100vw - 1300px) / 2);
  margin-bottom: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
}
.swiper .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
}
.swiper .swiper-wrapper {
  background-image: linear-gradient(#2C3546 10%, #1F2C49 80%);
  z-index: 4;
}

.slider__content {
  color: #fff;
  position: relative;
  z-index: 5;
  margin-top: 300px;
}
.slider__link {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  transition: color 0.3s;
}
.slider__link:hover {
  color: #C6BCB2;
}
.slider__link img {
  position: relative;
  margin-left: 2px;
  top: 10px;
}
.slider__title {
  font-size: 56px;
  font-weight: 500;
  line-height: 1.05;
  letter-spacing: -2.8px;
  margin-bottom: 30px;
  width: 630px;
}
.slider__text {
  font-size: 16px;
  width: 480px;
}
.slider__slide {
  position: relative;
  padding-bottom: 34%;
}
.slider__slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(31, 44, 73, 0.8));
}
.slider__img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.category {
  background-color: #F3F5F7;
  padding: 80px 0;
}
.category__container {
  display: grid;
  grid-template-rows: repeat(2, 310px);
  grid-template-columns: 23.5384615385% 15.0769230769% 23.5384615385% 32%;
  gap: 24px;
}
.category__item {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 30px 30px 30px 40px;
  position: relative;
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
}
.category__item:nth-child(2) {
  grid-column: span 2;
}
.category__item:nth-child(3) {
  grid-row: span 2;
}
.category__item:nth-child(4) {
  grid-column: span 2;
}
.category__item:hover .category__arrow {
  background-color: #C6BCB2;
}
.category__item:hover svg path {
  stroke: #fff;
}
.category__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(44, 53, 70, 0.1), rgba(31, 44, 73, 0.8));
}
.category__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.category__name {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.48px;
  color: #fff;
  z-index: 1;
}
.category__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
  transition: background-color 0.3s;
}
.category__arrow svg path {
  transition: stroke 0.3s;
}

.stock {
  background-color: #F3F5F7;
  padding-bottom: 80px;
}
.stock__wrapper {
  padding: 70px 80px;
  margin: 0 -80px;
  border-radius: 10px;
  background-color: #fff;
}
.stock__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.stock__title {
  font-size: 46px;
  line-height: 1.05;
  letter-spacing: -1.84px;
  color: #122952;
}
.stock__btn {
  height: 60px;
  border-radius: 30px;
}
.stock__btn span {
  color: #fff;
}
.stock__btn img {
  margin-left: 7px;
}
.stock__items {
  display: flex;
  gap: 24px;
}
.stock__item {
  flex: 0 1 33.333%;
}
.stock__photo {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 240px;
  margin-bottom: 15px;
}
.stock__photo--gradient::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(rgba(31, 44, 73, 0.9), rgba(31, 44, 73, 0));
}
.stock__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.stock__img--shadow, .stock__img--cube {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 125%;
  top: -16%;
  left: 40%;
}
.stock__img--cube {
  z-index: 1;
}
.stock__img-name {
  position: relative;
  color: #fff;
  font-size: 28px;
  line-height: 1.05;
  letter-spacing: -0.28px;
  margin-left: 40px;
  margin-top: 30px;
  z-index: 2;
}
.stock__label {
  position: absolute;
  width: 140px;
  height: 140px;
  bottom: -30px;
  left: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.84px;
  color: #fff;
  background-image: linear-gradient(135deg, #D42D2C, #ca7474);
  z-index: 1;
}
.stock__label span {
  font-size: 42px;
  letter-spacing: -2.52px;
}
.stock__data {
  margin-bottom: 10px;
}
.stock__subtitle {
  font-size: 18px;
  font-weight: 500;
  color: #122952;
  margin-bottom: 15px;
}
.stock__text {
  margin-bottom: 15px;
}
.stock__link {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.35;
  color: #213F74;
  position: relative;
}
.stock__link span {
  margin-right: 5px;
}
.stock__link::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #213F74;
}
.stock__link:hover {
  color: #0448bc;
}
.stock__link:hover::after {
  background-color: #0448bc;
}
.stock__link:hover svg path {
  stroke: #0448bc;
}

.about {
  background-color: #F3F5F7;
  padding-bottom: 80px;
}
.about__container {
  display: flex;
  gap: 45px;
}
.about__photo {
  position: relative;
  padding-left: 8.4615384615%;
  flex: 0 1 55.9413580247%;
}
.about__photo-company {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.about__photo-worker {
  position: absolute;
  height: 330px;
  max-width: 48.9655172414%;
  width: 100%;
  padding: 25px;
  border-radius: 35px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #F3F5F7;
  margin-left: -25px;
  z-index: 1;
}
.about__wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.about__img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.about__content {
  flex: 0 1 40.5864197531%;
  text-align: left;
}
.about__title {
  font-size: 46px;
  font-weight: 500px;
  line-height: 1.05;
  letter-spacing: -calc(1.84px);
  color: #122952;
  margin-bottom: 40px;
}
.about__blockguote {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 500;
  color: #122952;
}
.about__btn {
  width: 150px;
  height: 60px;
  border-radius: 30px;
  margin-top: 40px;
}
.about__btn span {
  color: #fff;
  margin-right: 7px;
}

.form {
  height: 470px;
  position: relative;
  color: #fff;
  background-image: linear-gradient(90deg, rgba(44, 53, 70, 0.7843137255), rgba(44, 53, 70, 0.1098039216));
}
.form__img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.form__logo {
  background-color: #C6BCB2;
  height: 60px;
  width: 65px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.form__title {
  font-size: 46px;
  font-weight: 500;
  line-height: 1.05;
  letter-spacing: -1.8px;
  margin-bottom: 30px;
}
.form__text {
  max-width: 530px;
  font-size: 15px;
  margin-bottom: 15px;
}
.form__wrapper span {
  font-size: 12px;
}
.form__input {
  color: #fff;
  width: 220px;
  height: 57px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}
.form__input::-moz-placeholder {
  color: #fff;
  top: 0;
}
.form__input::placeholder {
  color: #fff;
  top: 0;
}
.form__input:first-child {
  margin-right: 20px;
}
.form__checkbox-box {
  margin-bottom: 20px;
}
.form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid #fff;
  cursor: pointer;
}
.form__checkbox::after {
  content: url(../img/icons/angle-checkbox.svg);
  position: absolute;
  top: -3px;
  left: 1px;
  opacity: 0;
  transition: opacity 0.3s;
}
.form__checkbox:checked::after {
  opacity: 1;
}
.form__btn {
  background-color: #C6BCB2;
  height: 60px;
  border-radius: 30px;
}
.form__btn:hover {
  background-color: #B0A69B;
}

.footer__container {
  padding: 80px 10px;
  display: flex;
}
.footer__column {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}
.footer__column:nth-child(1) {
  flex: 0 1 23.5384615385%;
  justify-content: space-between;
}
.footer__column:nth-child(2) {
  flex: 0 1 15.0769230769%;
}
.footer__column:nth-child(3) {
  flex: 1 1 23.5384615385%;
}
.footer__column:nth-child(4) {
  flex: 0 1 32%;
  margin-right: 0;
}
.footer__btn {
  border-radius: 30px;
  padding: 20px;
  height: 60px;
  background-color: #F3F5F7;
  width: 217px;
  transition: background-color 0.3s;
}
.footer__btn:hover {
  background-color: #E7EDF5;
}
.footer__btn:active {
  background-color: #DBE1E7;
}
.footer__btn-img {
  margin-right: 5px;
}
.footer__btn-text {
  color: #213F74;
}
.footer__title {
  font-size: 18px;
  font-weight: 600;
  color: #A6A8B5;
  line-height: 1.35;
  margin-bottom: 30px;
}
.footer__link {
  font-size: 15px;
  line-height: 1.35;
}
.footer__link a {
  color: #213F74;
}
.footer__link a:hover {
  color: #0448bc;
}
.footer__link a:active {
  color: #122952;
}
.footer__link:not(:last-child) {
  margin-bottom: 15px;
}
.footer__form {
  display: flex;
  flex-direction: column;
}
.footer__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.35;
  color: #122952;
  max-width: 330px;
  margin-bottom: 20px;
}
.footer__wrapper {
  display: flex;
  margin-bottom: 15px;
}
.footer__input {
  height: 60px;
  background-color: #F3F5F7;
  border: 1px solid #DBE1E7;
  padding: 25px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: -30px;
  width: 100%;
}
.footer__button {
  height: 60px;
  border-radius: 30px;
  padding: 30px;
}
.footer__button img {
  display: block;
  margin-left: 8px;
  margin-top: 2px;
}
.footer__phone {
  font-weight: 600;
  font-size: 29px;
  line-height: 1.35;
  letter-spacing: -0.64px;
  color: #213F74;
  margin-bottom: 7px;
  transition: color 0.3s;
}
.footer__phone:hover {
  color: #0448bc;
}
.footer__phone:active {
  color: #122952;
}
.footer__address {
  font-size: 15px;
  color: #213F74;
  transition: color 0.3s;
}
.footer__address:hover {
  color: #0448bc;
}
.footer__address:active {
  color: #122952;
}
.footer__icon {
  margin-top: 5px;
}
.footer__bottom {
  font-size: 15px;
  background-color: #F3F5F7;
}
.footer__bottom-box {
  height: 40px;
  display: flex;
  align-items: center;
}
.footer__bottom-box a {
  color: #213F74;
}
.footer__bottom-copy {
  flex: 0 1 23.5384615385%;
  margin-right: 24px;
  text-transform: uppercase;
}
.footer__bottom-offer {
  flex: 0 1 15.0769230769%;
  margin-right: 24px;
  transition: color 0.3s;
}
.footer__bottom-offer:hover {
  color: #0448bc;
}
.footer__bottom-agreement {
  transition: color 0.3s;
}
.footer__bottom-agreement:hover {
  color: #0448bc;
}

@media (max-width: 1320px) {
  .swiper .swiper-pagination {
    right: 10px;
  }
}