html,
body {
  height: 100%;
  font-family: Inter;
  font-size: 14px;
  line-height: 1.55;
  color: #4D526C;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  height: 50px;
  max-width: 100%;
  background-color: #213F74;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  color: #fff;
  font-weight: 500;
  transition: background-color 0.3s;

  &:hover {
    background-color: #003690;
  }

  &:active {
    background-color: #122952;
  }
}