@import "_vars";

body {
  height: 100%;
  font-family: Inter;
  font-size: 14px;
  line-height: 1.55;
  color: #4D526C;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.no-scroll,
.none-scroll {
  overflow-y: hidden;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}

.button {
  position: relative;
  height: 60px;
  padding: 20px 20px;
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  transition: background-color 0.3s;
  cursor: pointer;

  &__arrow {
    padding-right: 30px;

    &::after {
      content: url('../img/icons/arrow.svg');
      position: absolute;
      width: 5px;
      height: 8px;
      top: 19px;
      right: 19px;
      z-index: 10;
    }
  }

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $dark-blue;
  }

}

.social-btn {
  padding-left: 45px;
  background-color: $grey;
  width: 217px;
  transition: background-color 0.3s;

  &__text {
    color: $blue;
    white-space: nowrap;
  }

  &:hover {
    background-color: $grey-hover;
  }

  &:active {
    background-color: $grey-active;
  }

  &::after {
    content: url(../img/icons/whatsapp.svg);
    position: absolute;
    top: 20px;
    left: 20px;
  }
}