@media (max-width:1440px) {

  .colection,
  .optional {
    .swiper-button-next {
      right: -20px;
    }

    .swiper-button-prev {
      left: -20px;
    }
  }
}

@media (max-width:1330px) {
  .slider {
    .swiper-pagination {
      right: 15px;
    }
  }

  .stock {
    &__wrapper {
      padding: 70px 15px;
      margin: 0 -15px;
      border-radius: 0px;
    }
  }
}

@media (max-width:1200px) {
  .header {
    &__bottom-link {
      margin-left: 20px;
      line-height: 1.2;
    }

    &__bottom-btn {
      padding: 0 20px;
    }
  }

  .category {
    &__item {
      padding: 20px;
    }
  }

  .catalog {
    &__menu {
      gap: 20px;
    }

    &__menu-name {
      font-size: 19px;
    }

    &__menu-item {
      padding: 10px 20px;
    }
  }
}

@media (max-width:1150px) {
  .optional {
    &__slider {
      height: 593px;
    }
  }
}

@media (max-width:960px) {
  .header {

    &__body-contact,
    &__body-search {
      margin-left: 20px;
    }

    &__body-phone {
      font-size: 19px;
    }
  }

  .category {
    padding-top: 16px;

    &__container {
      height: 880px;
      grid-template-rows: repeat(3, 32%);
      grid-template-columns: repeat(3, 32%);
      gap: 2%;
    }

    &__item {
      &:nth-child(4) {
        grid-row: 2;
      }

      &:nth-child(1),
      &:nth-child(3) {
        grid-row: span 1;

        .category__name {
          max-width: 20px;
        }
      }

      &:nth-child(5) {
        grid-column: span 3;
      }
    }

    &__name {
      font-size: 20px;
    }
  }

  .stock {
    &__wrapper {
      padding: 50px 15px;
    }

    &__items {
      flex-wrap: wrap;
      row-gap: 40px;
      column-gap: 2%;
    }

    &__item {
      flex: 1 1 49%;
    }

    &__item-replica {
      display: block;
    }
  }

  .footer {
    &__container {
      padding: 60px 10px;
    }

    &__right {
      flex-wrap: wrap;
      max-width: calc(490 / 740 * 100%);
      width: 100%;
    }

    &__left {
      flex: 0 1 calc(250 / 740 * 100%);
    }

    &__column {
      display: flex;
      flex-direction: column;
      padding-right: 24px;
      position: relative;

      &:nth-child(1) {
        flex: 0 1 calc(250 / 490 * 100%);
      }

      &:nth-child(2) {
        flex: 0 1 calc(240 / 490 * 100%);
      }

      &:nth-child(3) {
        flex: 0 1 100%;
        padding-right: 0;
        margin-top: 40px;
      }
    }

    &__phone {
      font-size: 26px;
    }

    &__address {
      max-width: 200px;
    }

    &__text {
      order: 1;
      max-width: 490px;
      margin-top: 40px;
    }

    &__wrapper {
      order: 2;
      margin-bottom: 0;
    }

    &__btn {
      right: 0;
      bottom: -125px;
      left: 0;
    }

    &__bottom {
      font-size: 14px;
    }

    &__bottom-copy {
      flex: 0 1 calc(250 / 740 * 100%);
      margin-right: 0;
      text-transform: uppercase;
    }

    &__bottom-offer {
      flex: 0 1 calc(250 / 740 * 100%);
      margin-right: 0;

      &:hover {
        color: $blue-hover;
      }
    }
  }

  .catalog {
    &__content {
      grid-template-columns: (210px 1fr);
      gap: 20px;
    }
  }

  .filter {
    &__label {
      font-size: 15px;
    }
  }

  .property {
    padding-bottom: 60px;

    &__container {
      flex-direction: column;
      gap: 0;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__slider {
      display: flex;
      flex-direction: row-reverse;
      gap: 3%;
      margin-bottom: 40px;
    }

    &__info {
      margin-left: auto;
    }

    &__body-bottom {
      gap: 20px;
    }

    &__activity {
      flex: 1 0 50%;
    }

    .product-card__stickers {
      top: -50px;
      left: 0;
    }
  }

  .slider-big {
    width: 77%;
    margin-bottom: 0;

    &__slider {
      height: 561px;
    }
  }

  .slider-small {
    width: 20%;

    &__slider {
      //max-width: 100%;
      height: 465px;
      margin: 46px 0;
    }

    &__slide {
      height: 100%;
    }

    .swiper-button-prev {
      top: 22px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }

    .swiper-button-next {
      top: 550px;
      right: 50%;
      transform: translateX(50%) rotate(90deg);
    }
  }

  .profile {
    &__content {
      display: block;
    }

    &__text {
      margin-bottom: 15px;
    }

    &__items {
      display: flex;
      gap: 30px;
    }
  }

  .colection {
    padding-bottom: 110px;

    &__title {
      margin-bottom: 30px;
    }

    &__slider {
      height: 338px;
    }

    &__slide {
      flex-direction: column;
      padding: 20px 20px 25px;
      gap: 0;
    }

    &__img-wrap {
      width: 190px;
      height: 190px;
      margin-bottom: 5px;
    }

    &__content {
      max-width: 100%;
      height: 100%;
    }
  }

  .colection,
  .optional {
    .swiper-pagination {
      bottom: -30px;
    }
  }

  .optional {
    padding-bottom: 110px;

    &__slider {
      height: 533px;
    }
  }
}

@media (max-width:830px) {
  .optional {
    &__slider {
      height: 600px;
    }

    &__collection {
      display: block;
    }

    .product-card__btn-wrap {
      display: flex;
      gap: 10px;
    }

    .product-card__btn-basket,
    .product-card__btn-counter {
      margin-bottom: 0;
    }
  }
}

@media (max-width:768px) {
  .header {

    &__top,
    &__bottom,
    &__body-contact,
    &__body-btn {
      display: none;
    }

    &__body-logo {
      width: 115px;
      height: 70px;

      &::after {
        content: url('../img/logo/logo-body-768.svg');
      }
    }

    &__mobile-nav {
      display: flex;
    }

    &__mobile-menu {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      padding: 180px 40px 60px;
      background-color: #fff;
      height: 100vh;
      width: 70%;
      font-size: 18px;
      pointer-events: none;
      opacity: 0;
      transition: opacity .3s;

      &.active {
        overflow-y: auto;
        pointer-events: auto;
        opacity: 1;
      }

      &::after {
        content: url(../img/logo/logo-menu-l.svg);
        position: absolute;
        top: 40px;
      }
    }

    &__mobile-catalog {
      position: relative;
      display: block;
      text-align: start;
      width: 100%;
      font-size: 20px;
      background-color: transparent;
      font-weight: 500;
      padding: 15.5px 0;
      border-top: 1px solid $grey-border;


      &:hover {
        color: $blue-hover;
      }

      &::after {
        content: url(../img/icons/arrow-up.svg);
        position: absolute;
        transform: rotate(-180deg);
        right: 0;
        top: 18px;
        transition: transform 0.3s;
      }

      &.open {
        &::after {
          transform: rotate(0deg);
          top: 8px;
          transition: transform 0.3s;
        }
      }
    }

    &__top-account {
      width: 50px;
      height: 50px;
      padding-left: 0;
      margin-left: 10px;
      border-radius: 25px;
      background-color: $grey;
      border: 1px solid $grey-border;

      &::before {
        content: url('../img/icons/user26.svg');
        width: 26px;
        height: 26px;
        top: 11px;
        left: 12px;
      }

      &--menu {
        margin-left: 0;
        margin-bottom: 60px;
      }
    }

    &__top-account-text {
      position: absolute;
      left: 70px;
      top: 10px;
      width: 150px;
      color: $dark-blue;
    }

    &__top-cart {
      display: block;
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: $grey;
      border: 1px solid $grey-border;
      margin: 0 10px 0;
      cursor: pointer;

      &:hover {
        background-color: $grey-hover;
      }

      &::after {
        content: url('../img/icons/cart-dark.svg');
        position: absolute;
        top: 13px;
        left: 10px;
      }

      span {
        display: block;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: $beige;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        right: 0px;
        font-weight: 700;
        font-size: 10px;
        line-height: 1;
      }

      &--menu {
        margin-left: 0;
        margin-bottom: 15px;
      }

    }

    &__top-cart-text {
      position: absolute;
      left: 70px;
      top: 10px;
      color: $dark-blue;
    }

    &__top-list {
      flex-direction: column;
      margin-bottom: 60px;
    }

    &__top-link {
      display: block;
      font-size: 20px;
      padding: 12px 0;
      border-top: 1px solid $grey-border;

      &:not(:last-child) {
        margin-right: 0;
      }

      &:last-child {
        border-bottom: 1px solid $grey-border;
      }

      a {
        color: $dark-blue;
        font-weight: 500;

        &:hover {
          color: $blue-hover;
        }
      }
    }

    &__body-contact--menu,
    &__body-btn--menu {
      display: block;
    }

    &__body-btn {
      margin: 18px 0 10px;
      height: 60px;
      border-radius: 30px;
      width: 217px;
    }

    &__body-phone {
      font-size: 22px;
    }

    &__mobile-btn {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: $blue;
      cursor: pointer;
      z-index: 3;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        border-radius: 1px;
        background-color: #fff;
        left: 15px;
        top: 19px;
        transition: transform 0.3s, top 0.3s 0.15s;
      }

      &::after {
        top: 31px;
      }

      &:hover {
        background-color: $blue-hover;
      }

      &:active {
        background-color: $dark-blue;
      }

      span {
        position: absolute;
        width: 20px;
        height: 2px;
        border-radius: 1px;
        background-color: #fff;
        top: 25px;
        left: 15px;
      }

      &.active {
        span {
          background-color: transparent;
        }

        &::before {
          transform: rotate(45deg);
          top: 25px;
          transition: transform 0.3s 0.15s, top 0.3s;
        }

        &::after {
          transform: rotate(-45deg);
          top: 25px;
          transition: transform 0.3s 0.15s, top 0.3s;
        }
      }
    }

    &__bottom-list {
      pointer-events: none;
      display: flex;
      flex-direction: column;
      max-height: 0px;
      transition: all 0.3s;
      opacity: 0;

      &.open {
        pointer-events: auto;
        padding-top: 5px;
        max-height: 170px;
        opacity: 1;
        transition: all 0.3s;
      }
    }

    &__bottom-link {
      margin-bottom: 10px;
      margin-left: 0;

      a {
        color: $blue;

        &:hover {
          color: $blue-hover;
          text-decoration: none;
        }
      }
    }

  }
  .social-btn__menu {
    position: relative;
    font-size: 14px;
    bottom: 0;
    left: 0;
  }

  .slider {
    &__title {
      font-size: 46px;
      margin-bottom: 20px;
      max-width: 560px;
    }

    &__content {
      margin-top: 280px;
    }

    .swiper {
      height: 540px;
    }
  }

  .stock {
    padding-bottom: 60px;

    &__title {
      font-size: 36px;
      margin-right: 10px;
    }
  }

  .about {
    padding-bottom: 60px;

    &__container {
      flex-direction: column;
      position: relative;
      padding-top: 175px;
      gap: 10px;
    }

    &__photo {
      padding-left: 0;
    }

    &__photo-company {
      height: 350px;
      max-width: 510px;
    }

    &__photo-worker {
      height: 400px;
      width: 44%;
      top: 80%;
      right: 0;
      left: auto;
      padding: 20px;
      margin-right: -20px;
      border-radius: 30px;
    }

    &__content-top {
      position: absolute;
      top: 0;
      margin-right: 15px;
    }


    &__title {
      font-size: 36px;
      margin-bottom: 25px;
    }

    &__blockguote {
      max-width: 60%;
    }

    &__content-bottom {
      display: flex;
      align-items: end;
    }

    &__btn {
      margin-top: 0;
      margin-left: 30px;
      min-width: 150px;
    }
  }

  .form__title {
    font-size: calc(28px + 18*1.7*((100vw - 360px)/1280));
  }

  .footer {
    &__right {
      max-width: calc(540 / 740 * 100%);
    }

    &__left {
      flex: 0 1 calc(200 / 740 * 100%);
    }

    &__bottom-copy {
      flex: 0 1 calc(280 / 740 * 100%);
    }

    &__bottom-offer {
      flex: 0 1 calc(200 / 740 * 100%);
    }

  }

  .catalog {
    &__title {
      margin-bottom: 10px;
    }

    &__menu {
      padding-bottom: 25px;
    }

    &__content {
      display: block;
    }

    &__btn-wrap {
      position: absolute;
      margin-bottom: 0;
      padding: 7px;
      gap: 5px;
      bottom: -265px;
      left: 20%;
      background-color: #fff;
      border-radius: 10px;
      max-width: 400px;
      width: 100%;
      height: 0px;
      box-shadow: 0px 0px 1dvi 5px $grey-active;
      z-index: 5;
      opacity: 0;
      transition: height 0.3s, opacity 0.3s;

      .button {
        background-color: $grey;
        border-radius: 7px;
        color: $blue;
        justify-content: flex-start;
      }

      &.open {
        height: 200px;
        overflow-y: scroll;
        opacity: 1;
      }
    }

    &__btn {
      width: 100%;
    }

    &__nav-top {
      width: 0;
    }

    &__nav-bottom {
      width: 100%;
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
    }
  }

  .filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    position: relative;

    &__container {
      flex: 0 1;
    }

    &__container:last-child {
      margin-bottom: 0;
    }

    &__btn {
      &::after {
        content: '';
      }

      &_price {
        cursor: pointer;
        pointer-events: auto;
      }
    }

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 42px;
      border-radius: 21px;
      background-color: #fff;
      border-top: none;
      padding: 10px 30px 10px 20px;
      font-size: 14px;
      cursor: pointer;

      &::after {
        content: url(../img/icons/arrow-filter-blue.svg);
        transform: rotate(0);
        position: absolute;
        top: 10px;
        right: 15px;
      }

      &.open {
        box-shadow: 0px 0px 10px 5px $grey-active;

        &::after {
          top: 13px;
          transform: rotate(180deg);
        }
      }
    }

    &__btn-category {
      display: flex;
      padding: 10px 35px 10px 40px;
      background-color: $blue;
      color: #fff;

      &::before {
        content: url(../img/icons/icon-burger.svg);
        position: absolute;
        top: 12px;
        left: 18px;
      }

      &::after {
        content: url(../img/icons/arrow-filter-white.svg);
        transform: rotate(0deg);
        top: 13px;
        right: 15px;
      }

      &.open {
        box-shadow: 0px 0px 10px 5px $grey-text;

        &::after {
          transform: rotate(180deg);
        }
      }
    }

    &__items {
      position: absolute;
      padding: 7px;
      bottom: -265px;
      left: 20%;
      background-color: #fff;
      border-radius: 10px;
      max-width: 400px;
      height: 0px;
      width: 100%;
      box-shadow: 0px 0px 1dvi 5px $grey-active;
      z-index: 5;
      transition: height 0.3s, opacity 0.3s;
    }

    &__items.open {
      height: 200px;
      overflow-y: scroll;
      padding-top: 7px;
      margin-bottom: 0;
    }

    &__items_price {
      pointer-events: none;
      max-height: 0px;
      opacity: 0;
    }

    &__price {
      padding: 60px 0 25px;
    }

    &__reset {
      margin-top: 0;
    }
  }

  .product-card {
    &__btn-wrap {
      display: flex;
      gap: 10px;
    }

    &__btn-basket,
    &__btn-counter {
      margin-bottom: 0;
    }

    &__btn-buy {
      flex: 1 0 50%;
    }
  }

  .optional {
    &__slider {
      height: 570px;
    }
  }
}

@media (max-width:700px) {
  .footer {
    &__container {
      flex-direction: column;
      padding: 60px 15px 100px;
    }

    &__logo {
      width: 130px;
      height: 78px;

      &::after {
        content: url('../img/logo/logo-footer-s.svg');
      }
    }

    &__left {
      margin-bottom: 30px;
      margin-right: 0;
    }

    &__right {
      max-width: 100%;
    }

    &__column {
      position: static;

      &:nth-child(1) {
        flex: 0 1 50%;
      }

      &:nth-child(2) {
        flex: 0 1 50%;
      }

      &:nth-child(3) {
        flex: 0 1 100%;
        padding-right: 0;
        margin-top: 40px;
      }
    }

    &__wrapper {
      margin-bottom: 30px;
    }

    &__text {
      order: -2;
      margin-top: 0;
    }

    &__wrapper {
      order: -1;
    }

    &__address {
      max-width: 100%;
    }

    &__btn {
      bottom: 20px;
      left: 10px;
    }

    &__bottom-box {
      flex-direction: column;
      align-items: start;
      height: 90px;
      padding: 15px 20px;
    }

    &__bottom-copy {
      order: 1;
    }
  }

  .catalog {
    &__products {
      gap: 10px;
    }
  }

  .product-card {
    &__btn-buy {
      display: none;
    }
  }

  .optional {
    &__slider {
      height: 533px;
    }
  }
}

@media (max-width:650px) {

  .catalog__btn-wrap,
  .filter__items {
    left: 10%;
  }

  .catalog {
    &__nav-top {
      margin-bottom: 20px;
    }
  }

  .property {
    padding-bottom: 40px;

    &__slider {
      display: block;
      margin-bottom: 20px;
    }

    &__body-bottom {
      flex-direction: column;
    }

    &__wrap {
      padding: 15px 15px 20px;
    }

    &__btns {
      display: flex;
      gap: 10px;
    }

    &__text {
      margin: 0;
    }
  }

  .slider-big {
    width: 100%;
    margin-bottom: 15px;

    &__slider {
      height: 320px;
    }
  }

  .slider-small {
    width: 100%;

    &__slider {
      height: 74px;
      margin: 0 38px;
    }

    .swiper-button-prev {
      top: 55%;
      left: 16px;
      transform: translateX(-50%) rotate(0deg);
    }

    .swiper-button-next {
      top: 55%;
      right: 16px;
      transform: translateX(50%) rotate(0deg);
    }
  }

  .profile {
    padding-bottom: 40px;

    &__model {
      padding: 20px;
    }

    &__subtitle {
      margin-bottom: 15px;
    }

    &__items {
      flex-direction: column;
      gap: 8px;
    }

    &__item:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

@media (max-width:600px) {

  .slider {
    .swiper-pagination {
      margin-bottom: 15px;
    }

    &__title {
      font-size: 40px;
      max-width: 450px;
    }

    &__text {
      max-width: 450px;
    }
  }

  .category {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__item {
      height: 170px;

      &:nth-child(3) {
        .category__name {
          max-width: 200px;
        }
      }
    }
  }

  .stock {
    &__items {
      flex-wrap: nowrap;
      overflow: auto;
    }

    &__item {
      flex: 1 0 90%;
    }

    &__title {
      font-size: 30px;
    }

    &__subtitle {
      font-size: 16px;
    }
  }

  .about__container {
    padding-top: 200px;
  }

  .breadcrumbs {
    padding: 20px 0 15px 0;
  }

  .catalog {
    &__title {
      font-size: 26px;
      margin-bottom: 25px;
    }

    &__menu {
      grid-template-columns: 1fr;
    }

    &__menu-item {
      padding: 10px 20px 10px 10px;
      flex-direction: row;
    }

    &__menu-image {
      height: 70px;
      width: 70px;
      margin-bottom: 0;
      padding-bottom: 0;
      margin-right: 20px;
    }

    &__menu-text {
      margin-top: 10px;
    }

    &__menu-name {
      font-size: 16px;
    }

    &__menu-count {
      font-size: 12px;
    }

    &__products {
      grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }
  }

  .product-card {
    padding: 10px;

    &__stickers {
      top: 10px;
      left: 10px;
    }

    &__sticker {
      height: 18px;
      font-size: 9px;
      padding: 5px 8px;
    }

    &__text {
      font-size: 12px;
    }

    &__btn-buy,
    &__btn-basket,
    &__btn-counter {
      height: 42px;
      font-size: 13px;
    }

    &__info {
      flex-direction: column-reverse;
      gap: 8px;
    }

    &__info-article {
      font-size: 10px;
    }

    &__collection {
      font-size: 12px;
    }

    &__price {
      flex-direction: column-reverse;
      align-items: start;
    }

    &__current-price {
      font-size: 14px;
    }

    &__old-price {
      font-size: 12px;
      margin-left: 0;
    }
  }

  .title-cart {
    font-size: 28px;
  }

  .optional {
    &__slider {
      height: 478px;
    }
  }
}

@media (max-width:480px) {
  .header {
    &__top-account {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      margin-bottom: 20px;

      &--text {
        font-size: 14px;
        left: 55px;
      }

      &::before {
        content: url('../img/icons/user.svg');
        top: 7px;
        left: 9px;
      }
    }

    &__top-link {
      font-size: 18px;
    }

    &__body {
      height: 60px;
    }

    &__body-logo {
      width: 71px;
      height: 43px;

      &::after {
        content: url('../img/logo/logo-body-480.svg');
      }
    }

    &__body-icon {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: $grey;
      border: 1px solid $grey-border;
      top: 20px;
      right: -5px;
      scale: 0.8;

      &:hover {
        scale: 0.8;
        background-color: $grey-hover;
      }

    }

    &__body-input {
      display: none;
    }

    &__body-phone {
      font-size: 19px;
    }

    &__mobile-nav {
      height: 40px;
    }

    &__bottom-icon {
      width: 40px;
      height: 40px;
      border-radius: 20px;

      &::after {
        content: url('../img/icons/cart-dark-480.svg');
        position: absolute;
        top: 8px;
        left: 7px;
      }

      span {
        width: 14px;
        height: 14px;
        top: 0px;
        right: 0px;
      }
    }

    &__bottom-link {
      font-size: 16px;
    }

    &__top-cart {
      width: 40px;
      height: 40px;
      border-radius: 20px;

      &::after {
        content: url('../img/icons/cart-dark-480.svg');
        top: 10px;
        left: 7px;
      }

      span {
        height: 14px;
        width: 14px;
        top: -2px;
        right: -2px;
        font-weight: 600;
      }

      &--text {
        font-size: 14px;
        left: 55px;
      }
    }

    &__mobile-btn {
      width: 40px;
      height: 40px;
      border-radius: 20px;

      &.active::after,
      &.active::before {
        top: 20px;
      }

      &::before,
      &::after {
        content: '';
        width: 16px;
        height: 1.6px;
        top: 14px;
        left: 11.5px;
      }

      &::after {
        top: 26px;
      }

      span {
        width: 16px;
        height: 1.6px;
        top: 20px;
        left: 11.5px;
      }
    }

    &__mobile-menu {
      width: 75%;
      padding: 100px 20px 20px;

      &::after {
        content: url(../img/logo/logo-menu-s.svg);
        top: 20px;
      }
    }

    &__mobile-catalog {
      padding: 10.5px 0;
      font-size: 18px;

      &::after {
        top: 15px;
      }
    }

    &__mobile-item {
      margin-bottom: 5px;
      font-size: 14px;
    }

    &__mobile-list {
      margin-bottom: 20px;
    }

    &__mobile-link {
      font-size: 16px;
      padding: 8px 0;
    }
  }

  .breadcrumbs {
    &__list {
      font-size: 12px;
    }
  }

  .slider {
    &__title {
      font-size: 28px;
      max-width: 320px;
      margin-bottom: 15px;
    }

    &__text {
      font-size: 14px;
      max-width: 320px;
    }

    &__content {
      margin-top: 300px;
    }
  }

  .swiper {
    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
    }

    .swiper-pagination-bullet-active {
      width: 10px;
      height: 10px;
    }
  }

  .stock {
    &__title {
      font-size: 26px;
      max-width: 110px;
    }

    &__btn {
      &::after {
        top: 17px;
      }
    }
  }

  .about {
    &__container {
      padding-top: 245px;
    }

    &__photo-company {
      height: 182px;
      max-width: 237px;
      margin-left: auto;
    }

    &__photo-worker {
      height: 160px;
      width: 54%;
      top: 80%;
      right: auto;
      left: 0;
      padding: 10px;
      margin-left: -10px;
      border-radius: 20px;
    }

    &__title {
      font-size: 30px;
    }

    &__blockguote {
      margin-top: 50px;
      max-width: 100%;
      font-size: 16px;
    }

    &__content-bottom {
      flex-direction: column;
      align-items: start;
    }

    &__btn {
      margin-left: 0;
      margin-top: 20px;

      &::after {
        top: 17px;
      }
    }
  }

  .footer {
    &__button {
      color: transparent;
      width: 54px;

      &::after {
        content: url(../img/icons/arrow-480.svg);
        right: 25px;
        top: 21px;
      }
    }

    &__phone {
      font-size: 22px;
    }

    &__input {
      height: 54px;
    }

    &__text {
      font-size: 16px;
    }
  }

  .social-btn::after {
    top: 17px;
    left: 17px;
  }

  .button {
    height: 54px;
    border-radius: 27px;

    &__cart {
      height: 42px;
    }
  }

  .catalog {
    &__btn {
      font-size: 12px;
      height: 34px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__btn-category {
      &::after {
        top: 09px;
      }

      &::before {
        top: 9px;
      }
    }

    &__btn-wrap {
      position: absolute;
      bottom: -280px;
    }

    &__products {
      grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    }

    &__nav-top {
      margin-bottom: 15px;
    }

    &__nav-bottom {
      margin-top: 15px;
    }

    &__select {
      font-size: 12px;
    }
  }

  .filter {
    &__title {
      height: 34px;
      font-size: 12px;
      padding-bottom: 8px;

      &::after {
        top: 8px;
      }

      &.open::after {
        top: 9px;
      }
    }

    &__btn-category::before {
      top: 9px;
    }

    &__btn-category::after {
      top: 9px;
    }

    &__btn-category.open::after {
      top: 12px;
    }

    &__reset {
      font-size: 12px;
    }

    .product-card {

      &__btn-buy,
      &__btn-basket,
      &__btn-counter {
        height: 42px;
        font-size: 13px;
      }
    }
  }

  .catalog__btn-wrap,
  .filter__items {
    left: 0;
    bottom: -250px;
  }

  .product-card {

    &__btn-buy,
    &__btn-basket,
    &__btn-counter {
      height: 42px;
      font-size: 13px;
    }
  }

  .title-cart {
    font-size: 20px;
  }

  .property {


    &__slider {
      margin-bottom: 10px;
    }

    &__info {
      margin-bottom: 10px;
      max-width: 100%;
      flex-direction: row-reverse;
      font-size: 12px;
    }

    &__color-btns {
      margin-bottom: 20px;
    }

    &__btn-ch,
    &__btn-x,
    &__btn-cr {
      height: 40px;
      width: 40px;
      font-size: 14px;
      border-radius: 10px;
      padding: 15px;
    }

    &__btn-buy {
      padding: 20px 15px;
    }

    &__text {
      font-size: 12px;
    }

    &__description {
      font-size: 16px;
    }

    &__item {
      padding: 8px 0;
      font-size: 14px;
    }

    &__price {
      font-size: 18px;
    }

    .product-card__stickers {
      top: 10px;
      left: 10px;
    }
  }

  .profile {
    &__paragraph {
      font-size: 14px;

      &:last-child {
        display: none;
      }
    }

    &__item {
      font-size: 14px;
    }
  }

  .colection {
    padding-bottom: 70px;

    &__title {
      margin-bottom: 20px;
    }

    &__slider {
      height: 270px;
    }

    &__slide {
      padding: 15px;
    }

    &__img-wrap {
      height: 124px;
      width: 124px;
    }

    &__content {
      font-size: 12px;
    }

  }

  .colection,
  .optional {

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }

    .swiper-pagination {
      bottom: -20px;
    }

    .swiper-pagination-bullet {
      height: 8px;
      width: 8px;
    }

    .swiper-pagination-bullet-active {
      width: 10px;
      height: 10px;
    }
  }

  .optional {
    padding-bottom: 90px;

    &__title {
      margin-bottom: 20px;
    }

    &__slider {
      height: 460px;
    }
  }

  .slider-big {
    margin-bottom: 10px;
  }

  .slider-small {

    .swiper-button-prev,
    .swiper-button-next {
      width: 28px;
      height: 28px;
    }

    .swiper-button-prev {
      left: 14px;
    }

    .swiper-button-next {
      right: 14px;
    }
  }

  .pagination {
    &__list {
      gap: 15px;
    }

    &__arrow {
      width: 34px;
      height: 34px;

      &::after {
        top: 10px;
        right: 12px;
      }
    }

    &__arrow_left::after {
      top: 8px;
      left: 11px;
    }

    &__link {
      font-size: 14px;

      &::after {
        width: 34px;
        height: 34px;
      }
    }
  }
}

@media (max-width:360px) {
  .catalog {
    &__products {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px;
    }
  }

  .optional {
    &__slider {
      height: 425px;
    }
  }
}