$blue: #213F74;
$blue-hover: #0448bc;
$dark-blue: #122952;
$beige: #C6BCB2;
$beige-hover: #B0A69B;
$grey: #F3F5F7;
$grey-hover: #E7EDF5;
$grey-active: #DBE1E7;
$grey-text: #A6A8B5;

//$blue-hover: #003690;