@import "_reset";
@import "_global";
@import "_vars";

@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");


.header {
  &__top {
    background-color: $grey;
  }

  &__top-menu {
    font-size: 15px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top-list {
    display: flex;
  }

  &__top-link {
    font-size: 15px;
    line-height: 1.35;

    &_action {
      display: none;
    }

    &:not(:last-child) {
      margin-right: 40px;
    }

    a {
      color: $blue;
      transition: color 0.3s;

      &:hover {
        color: $blue-hover;
      }
    }
  }

  &__top-account {
    position: relative;
    height: 36px;
    width: 170px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey-hover;
    transition: background-color 0.3s;

    &::before {
      content: url('../img/icons/user.svg');
      position: absolute;
      top: 7px;
      left: 8px;
    }

    &:hover {
      background-color: $grey-active;
    }
  }

  &__body {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__body-logo {
    position: relative;
    width: 138px;
    height: 84px;
    cursor: pointer;

    &::after {
      content: url('../img/logo/logo-body-1200.svg');
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__body-search {
    height: 50px;
    flex: 1 1 auto;
    position: relative;
    margin-left: 40px;
  }

  &__body-input {
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 25px;
    background-color: $grey;
    border: 1px solid $grey-border;
  }

  &__body-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    transition: scale 0.3s;

    &:hover {
      scale: 1.2;
    }
  }

  &__body-contact {
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  &__body-phone {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.15;
    color: $blue;
    transition: color 0.3s;

    &:hover {
      color: $blue-hover;
    }

    &:active {
      color: $dark-blue;
    }
  }

  &__body-schedule {
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #00de59;
      position: absolute;
      top: 7px;
      left: -11px;
    }
  }

  &__body-btn {
    height: 50px;
    border-radius: 25px;
    margin-left: 20px;

    &::after {
      content: '';
    }
  }

  &__mobile-nav {
    display: none;
  }

  &__bottom {
    color: #fff;
    background-color: $blue;
  }

  &__bottom-container {
    margin-top: auto;
    margin-bottom: auto;
  }

  &__bottom-inner {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom-menu {
    height: 100%;
    display: flex;
    font-size: 15px;
  }

  &__bottom-btn {
    font-size: 15px;
    height: 100%;
    color: #fff;
    background-color: $beige;
    padding: 0 40px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $beige-hover;
    }

    span {
      margin-left: 5px;
    }
  }

  &__bottom-list {
    display: flex;
    text-align: center;
  }

  &__bottom-link {
    display: flex;
    align-items: center;
    margin-left: 40px;
    line-height: 1.5;

    a {
      color: #fff;
      border-bottom: 1px solid transparent;
      transition: border-color 0.3s;

      &:hover {
        border-color: #6a98ed;
      }
    }
  }

  &__bottom-cart {
    font-size: 15px;
    margin: 0 35px;
    min-width: 96px;
    display: flex;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: border-color 0.3s;

    span {
      color: #fff;
    }

    &:hover {
      border-color: #6a98ed;
    }
  }

  &__bottom-icon {
    position: relative;
    margin-right: 10px;

    span {
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $beige;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -6px;
      right: -2px;
      font-weight: 700;
      font-size: 10px;
      line-height: 1;
    }
  }
}

.slider {
  &__content {
    color: #fff;
    position: relative;
    z-index: 5;
    margin-top: 300px;
  }

  &__link {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    transition: color 0.3s;

    &::after {
      content: url('../img/icons/arrow.svg');
      position: absolute;
      width: 5px;
      height: 8px;
      top: 0;
      right: -12px;
      transition: right 0.5s;
    }

    &:hover {
      color: $beige;

      &::after {
        content: url('../img/icons/arrow-beige.svg');
        right: -18px;
      }
    }
  }

  &__title {
    font-size: 56px;
    //@include adaptiv-font(56,28);
    font-weight: 500;
    line-height: 1.05;
    letter-spacing: -2.8px;
    margin-bottom: 30px;
    max-width: 630px;
  }

  &__text {
    font-size: 16px;
    width: 480px;
  }

  &__slide {
    position: relative;
    padding-bottom: 34%;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(rgba(255, 255, 255, 0.1),
          rgba(31, 44, 73, 0.8));
    }
  }

  &__img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .swiper {
    height: 600px;
  }

  .swiper-pagination {
    width: auto;
    left: auto;
    right: calc((100vw - 1300px) / 2);
    margin-bottom: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #fff;
  }

  .swiper-pagination-bullet:hover {
    opacity: 0.5;
    scale: 1.3;
    transition: scale 0.3s;
  }

  .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
  }

  .swiper-wrapper {
    background-image: linear-gradient(#2c3546 10%, #1f2c49 80%);
    z-index: 4;
  }

}

.category {
  background-color: $grey;
  padding: 80px 0;

  &__container {
    height: 644px;
    display: grid;
    grid-template-rows: repeat(2, 48%);
    grid-template-columns: 24% 14% 24% 32%;
    row-gap: 4%;
    column-gap: 2%;
    // grid-template-columns: calc(306 / 1300 * 100%) calc(200 / 1300 * 100%) calc(306 / 1300 * 100%) calc(416 / 1300 * 100%);
    // gap: 24px;
  }

  &__item {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 30px 30px 30px 40px;
    position: relative;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;

    &:nth-child(2),
    &:nth-child(4) {
      grid-column: span 2;
    }

    &:nth-child(3) {
      grid-row: span 2;
    }

    &:hover {
      .category__arrow {
        background-color: #c6bcb2;
      }

      svg path {
        stroke: #fff;
      }

      .category__img {
        transform: scale(1.05);
      }
    }


    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(rgba(44, 53, 70, 0.1), rgba(31, 44, 73, 0.8));
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale(1);
    transition: transform 0.5s;
    object-fit: cover;
  }

  &__name {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.5px;
    color: #fff;
    z-index: 1;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
    transition: background-color 0.3s;

    svg path {
      transition: stroke 0.3s;
    }
  }
}

.stock {
  background-color: $grey;
  padding-bottom: 80px;

  &__wrapper {
    padding: 70px 80px;
    margin: 0 -80px;
    border-radius: 10px;
    background-color: #fff;
  }

  &__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 46px;
    line-height: 1.05;
    letter-spacing: -1px;
    color: $dark-blue;
  }

  &__btn {
    padding: 20px 40px 20px 30px;

    &::after {
      right: 26px;
    }
  }

  &__items {
    display: flex;
    gap: 24px;
  }

  &__item {
    flex: 0 1 33.333%;
  }

  &__item-replica {
    display: none;
  }

  &__photo {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 240px;
    //padding-bottom: 45.5%;
    margin-bottom: 15px;

    &--gradient::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(rgba(31, 44, 73, 0.9), rgba(31, 44, 73, 0));
    }
  }

  &__img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  &__img-shadow,
  &__img-cube {
    position: absolute;
    object-fit: cover;
    height: 125%;
    top: -16%;
    left: 40%;
  }

  &__img-cube {
    z-index: 1;
  }

  &__img-name {
    position: relative;
    color: #fff;
    font-size: 28px;
    line-height: 1.05;
    letter-spacing: -calc(28px / 100 * 1);
    margin-left: 40px;
    margin-top: 30px;
    z-index: 2;
  }

  &__label {
    position: absolute;
    width: 140px;
    height: 140px;
    bottom: -30px;
    left: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -calc(42px / 100 * 2);
    color: #fff;
    background-image: linear-gradient(135deg, #d42d2c, #ca7474);
    z-index: 1;

    span {
      font-size: 42px;
      letter-spacing: -calc(42px / 100 * 6);
    }
  }

  &__data {
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 500;
    color: $dark-blue;
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__link {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.35;
    padding-bottom: 5px;
    color: $blue;
    position: relative;

    span {
      margin-right: 5px;
      transition: margin-right 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      width: 90px;
      height: 1px;
      bottom: 0px;
      left: 0;
      background-color: $blue;
      transition: background-color 0.3s, width 0.3s;
    }

    &:hover {
      color: $blue-hover;

      span {
        margin-right: 10px;
      }

      &::after {
        width: 100px;
        background-color: $blue-hover;
      }

      svg {
        path {
          stroke: $blue-hover;
        }
      }
    }
  }
}

.about {
  background-color: $grey;
  padding-bottom: 80px;

  &__container {
    display: flex;
    gap: 45px;
  }

  &__photo {
    position: relative;
    //padding-left: 110px;
    padding-left: calc(110 / 1300 * 100%);
    flex: 0 1 calc(725 / 1296 * 100%);
  }

  &__photo-company {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
  }

  &__photo-worker {
    position: absolute;
    height: 330px;
    max-width: calc(355 / 725 * 100%);
    width: 100%;
    padding: 25px;
    border-radius: 35px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: $grey;
    margin-left: -25px;
    z-index: 1;
  }

  &__wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }

  &__img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__content {
    flex: 0 1 calc(526 / 1296 * 100%);
    text-align: left;
  }

  &__title {
    font-size: 46px;
    font-weight: 500;
    line-height: 1.05;
    letter-spacing: -2px;
    color: $dark-blue;
    margin-bottom: 40px;
  }

  &__blockguote {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 500;
    color: $dark-blue;
  }

  &__btn {
    width: 150px;
    margin-top: 40px;
    padding-left: 25px;

    &::after {
      right: 25px;
    }
  }
}

.form {
  padding-bottom: 80px;
  position: relative;
  color: #fff;
  background-image: linear-gradient(90deg, #2c3546ea, #2c35461c);

  &__img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__logo {
    background-color: $beige;
    height: 60px;
    width: 65px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    font-size: calc(28px + 18*(100vw/1280));
    font-weight: 500;
    line-height: 1.05;
    letter-spacing: -1.8px;
    margin-bottom: 25px;
  }

  &__text {
    max-width: 530px;
    font-size: 15px;
    margin-bottom: 5px;
  }

  &__wrapper span {
    font-size: 12px;
  }

  &__input {
    color: #fff;
    width: 220px;
    height: 57px;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;

    &::placeholder {
      color: #fff;
      top: 0;
    }

    &:first-child {
      margin-right: 20px;
    }

    &:focus {
      border-bottom: 1px solid #d42d2c;
    }
  }

  &__checkbox-box {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;

    a {
      color: #fff;
    }
  }

  &__checkbox {
    appearance: none;
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 2px;
    margin-right: 10px;
    border: 1px solid #fff;
    cursor: pointer;

    &::after {
      content: url(../img/icons/angle-checkbox.svg);
      position: absolute;
      top: -3px;
      left: 1px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:checked::after {
      opacity: 1;
    }
  }

  &__btn {
    background-color: $beige;

    &::after {
      content: '';
    }

    &:hover {
      background-color: $beige-hover;
    }
  }
}

.footer {
  &__container {
    padding: 80px 10px;
    display: flex;
    position: relative;
  }

  &__left {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    flex: 0 1 calc(330 / 1300 * 100%);
    justify-content: space-between;
  }

  &__logo {
    position: relative;
    width: 160px;
    height: 97px;

    &::after {
      content: url('../img/logo/logo-footer-l.svg');
      position: absolute;
      top: 0;
      left: 0;

    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    padding-right: 24px;

    &:nth-child(1) {
      flex: 0 1 calc(220 / 970 * 100%);
    }

    &:nth-child(2) {
      flex: 0 1 calc(330 / 970 * 100%);
    }

    &:nth-child(3) {
      flex: 0 1 calc(420 / 970 * 100%);
      padding-right: 0;
    }
  }

  &__right {
    display: flex;
    max-width: calc(970 / 1300 * 100%);
    width: 100%;
  }

  &__btn {
    position: absolute;
    left: 15px;
    bottom: 80px;

  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    color: $grey-text;
    line-height: 1.35;
    margin-bottom: 30px;
  }

  &__catalog-link {
    color: $grey-text;

    &:hover {
      color: $blue-hover;
    }
  }

  &__link {
    font-size: 15px;
    line-height: 1.35;

    a {
      color: $blue;

      &:hover {
        color: $blue-hover;
      }

      &:active {
        color: $dark-blue;
      }
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.35;
    color: $dark-blue;
    max-width: 330px;
    margin-bottom: 20px;
  }

  &__wrapper {
    display: flex;
    margin-bottom: 15px;
  }

  &__input {
    height: 60px;
    background-color: $grey;
    border: 1px solid $grey-active;
    padding: 25px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: -30px;
    width: 100%;

    &:focus {
      border: 1px solid #d42d2c;
    }
  }

  &__button {
    padding-left: 25px;

    &::after {
      top: 22.5px;
    }

    img {
      display: block;
      margin-left: 8px;
      margin-top: 2px;
    }
  }

  &__phone {
    font-weight: 600;
    font-size: 29px;
    line-height: 1.35;
    letter-spacing: -0.64px;
    color: $blue;
    margin-bottom: 7px;
    transition: color 0.3s;

    &:hover {
      color: $blue-hover;
    }

    &:active {
      color: $dark-blue;
    }
  }

  &__address {
    font-size: 15px;
    color: $blue;
    transition: color 0.3s;

    &:hover {
      color: $blue-hover;
    }

    &:active {
      color: $dark-blue;
    }
  }

  &__icon {
    margin-top: 5px;
  }

  &__bottom {
    font-size: 15px;
    background-color: $grey;
  }

  &__bottom-box {
    height: 40px;
    display: flex;
    align-items: center;

    a {
      color: $blue;
    }
  }

  &__bottom-copy {
    flex: 0 1 calc(306 / 1300 * 100%);
    margin-right: 24px;
    text-transform: uppercase;
  }

  &__bottom-offer {
    flex: 0 1 calc(196 / 1300 * 100%);
    margin-right: 24px;
    transition: color 0.3s;

    &:hover {
      color: $blue-hover;
    }
  }

  &__bottom-agreement {
    transition: color 0.3s;

    &:hover {
      color: $blue-hover;
    }
  }
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  scrollbar-gutter: stable;

  &.active {
    opacity: 1;
    pointer-events: inherit;
  }

  &__container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &__body {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    width: 460px;
    padding: 40px;
  }

  &__title {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: -calc(34px / 100 * 4);
    color: $dark-blue;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__input {
    height: 60px;
    width: 100%;
    background-color: $grey;
    border-radius: 30px;
    padding: 20px;

    &:nth-child(1) {
      margin-bottom: 10px;
    }

    &:nth-child(2) {
      margin-bottom: 15px;
    }
  }

  &__checkbox {
    margin-bottom: 20px;

    a {
      color: $blue;
    }

    input {
      appearance: none;
      position: relative;
      margin-right: 5px;
      width: 16px;
      height: 16px;
      top: 2px;
      border-radius: 3px;
      background-color: $blue;
      cursor: pointer;

      &::after {
        content: url(../img/icons/angle-checkbox.svg);
        position: absolute;
        top: -1px;
        left: 3px;
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:checked::after {
        opacity: 1;
      }
    }
  }

  &__btn {
    width: 100%;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;

    svg path {
      transition: stroke 0.3s;
    }

    &:hover {
      svg path {
        stroke: #7c8286;
      }
    }
  }
}

.breadcrumbs {
  background-color: $grey;
  padding: 25px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    color: $dark-grey;

  }

  &__item {
    margin: 0 10px;
  }

  &__link {
    display: inline-block;
    opacity: 0.5;

    &_current {
      //Разрешаем перенос текста
      white-space: normal;
      //Если слово слишком длинное — переносим
      word-wrap: break-word;
      opacity: 0.8;
    }

    &:hover {
      opacity: 1;
    }
  }

}

.catalog {
  background-color: $grey;

  &__title {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 46px;
    letter-spacing: -1px;
    line-height: 1.05;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 24px;
    padding-bottom: 40px;
  }

  &__menu-item {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px $grey;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 0px 20px 10px $grey-active;
    }
  }

  &__menu-image {
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 100%;
  }

  &__menu-img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__menu-name {
    color: $blue;
    font-size: 120px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 1.25;
    letter-spacing: -0.5px;
  }

  &__menu-count {
    color: $blue-filter;
    font-size: 16px;
    margin-top: auto;
  }

  &__content {
    display: grid;
    grid-template-columns: (290px 1fr);
    gap: 40px;
    padding-bottom: 80px;
  }

  &__nav-products {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;
  }

  &__nav-category {
    display: flex;
    gap: 10px;
  }

  &__btn-category {
    display: none;
  }

  &__btn {
    height: 42px;
    background-color: #fff;
    color: $blue;
    white-space: nowrap;

    &:hover {
      background-color: $grey-hover;
    }

    &.active {
      background-color: $blue;
      color: #fff;
    }
  }

  &__btn-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  &__nav-top {
    width: 100%;
  }

  &__select {
    height: 25px;
    max-width: 115px;
    margin-left: auto;
    font-size: 16px;
    font-weight: 500;
    background-color: $grey;
    cursor: pointer;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(231px, 1fr));
    gap: 24px;
    padding-bottom: 40px;
  }

}

.filter {
  &__total {
    font-size: 16px;
    color: $blue-filter;
    margin-bottom: 25px;

    span {
      margin-left: 5px;
    }
  }

  &__container:last-child {
    margin-bottom: 40px;
  }

  &__title {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: $dark-blue;
    border-top: 1px solid $grey-active;
    padding-top: 15px;
    white-space: nowrap;
  }

  &__btn {
    cursor: pointer;

    &::after {
      content: url(../img/icons/arrow-up.svg);
      position: absolute;
      transform: rotate(180deg);
      top: 20px;
      right: 0;
      transition: transform 0.3s;
    }

    &_price {
      cursor: default;
      pointer-events: none;

      &::after {
        content: '';
      }
    }

    &.open {
      &::after {
        transform: rotate(0deg);
        top: 15px;
        transition: transform 0.3s;
      }
    }
  }

  &__btn_price {
    white-space: nowrap;
  }

  &__btn-category {
    display: none;
  }

  &__items {
    pointer-events: none;
    margin-bottom: 15px;
    max-height: 0px;
    opacity: 0;
    transition: max-height 0.3s, opacity 0.3s;

    &_uppercase {
      text-transform: uppercase;
    }

    &_price {
      pointer-events: auto;
      opacity: 1;
      max-height: 400px;
      padding-top: 15px;
    }

    &.open {
      pointer-events: auto;
      padding-top: 15px;
      max-height: 400px;
      opacity: 1;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 5px;
  }

  &__input {
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: 1px solid $blue-filter;
    background-color: #fff;
    appearance: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &::after {
      content: url(../img/icons/angle-checkbox.svg);
      position: absolute;
      top: -2px;
      left: 2px;
    }

    &:checked+.filter__label {
      color: $blue;
    }

    &:checked {
      background-color: $blue;
      border: none;
    }
  }

  &__label {
    font-size: 16px;
    color: $blue-filter;
    margin-left: 5px;

    span {
      margin-left: 5px;
    }
  }

  &__price {
    padding-bottom: 10px;
  }

  &__price-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  &__price-min,
  &__price-max {
    width: 100%;
    height: 38px;
    border-radius: 19px;
    background-color: #fff;
    border: 1px solid $grey-border;
    font-size: 14px;
    color: $blue;
    font-weight: 500;
    text-align: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  &__price-separator {
    width: 100%;
    height: 38px;
    max-width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__price-slider {
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: $grey-border;
  }

  &__price-progress {
    position: absolute;
    top: -1px;
    left: 20%;
    right: 15%;
    height: 5px;
    border-radius: 3px;
    background-color: $blue;

  }

  &__range-input {
    position: relative;
  }

  &__range-min,
  &__range-max {
    position: absolute;
    top: -4px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
  }

  input[type="range"] {
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      pointer-events: auto;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $blue;
      border: 4px solid #30518A;
      cursor: pointer;
    }
  }

  input[type="range"] {
    &::-moz-slider-thumb {
      -moz-appearance: none;
      pointer-events: auto;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $blue;
      border: 4px solid #30518A;
      cursor: pointer;
    }
  }

  &__reset {
    line-height: 1.6;
    background-color: transparent;
    margin-top: 25px;
    color: $blue-filter;
    border-bottom: 1px solid $blue-filter;
    border-color: $blue-filter;
    transition: color 0.3s, border-color 0.3s;

    &:hover {
      color: $dark-blue;
      border-color: $dark-blue;
    }
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 10px 5px $grey;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0px 0px 10px 5px $grey-active;
  }

  &__stickers {
    position: absolute;
    pointer-events: none;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 5px;
    z-index: 1;
  }

  &__sticker {
    height: 30px;
    padding: 5px 10px;
    background-color: #11D25E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    display: none;

    &.active {
      display: flex;
    }

    &_action {
      background-color: $btn-red;
    }

    &_hit {
      background-color: $btn-purple;
    }
  }

  &__photo {
    display: block;
    position: relative;
    padding-bottom: 100%;
    margin-bottom: 12px;
  }

  &__img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__info {
    margin-bottom: 8px;
  }

  &__text {
    font-weight: 500;
    margin-bottom: 8px;
  }

  &__collection {
    color: #4D526C;
    margin-top: auto;
    margin-bottom: 8px;
  }

  &__price {
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &.active {
      .product-card__old-price {
        display: inline-block;
      }

      .product-card__current-price {
        color: red;
      }
    }
  }

  &__current-price {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.3px;
  }

  &__old-price {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: #A3A5B2;
    margin-left: 5px;
    position: relative;
    display: none;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: red;
      top: 8px;
      left: 0;
    }

  }

  &__btn-basket {
    height: 50px;
    width: 100%;
    margin-bottom: 8px;

    &.disabled {
      display: none;
    }
  }

  &__btn-counter {
    width: calc(100% - 30px);
    height: 50px;
    padding: 20px 10px;
    position: relative;
    background-color: $dark-blue;
    margin-bottom: 8px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;

    &.button {
      cursor: none;
    }

    .decrease,
    .increase {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .counter {
      width: 50px;
      text-align: center;
      color: #fff;
      background-color: $dark-blue;
    }

    &.disabled {
      display: none;
    }

    &::after {
      content: ('шт.');
      position: absolute;
      color: $blue;
      top: 18px;
      right: -28px;
    }

    &:hover {
      background-color: $dark-blue;
    }
  }

  &__btn-buy {
    height: 50px;
    width: 100%;
    background-color: $grey;
    color: $blue;

    &:hover {
      background-color: $grey-hover;
    }
  }

}

.card-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #797D91;

  &__current {
    padding-left: 20px;
  }

  &__have,
  &__not-have {
    position: relative;
    display: none;

    &::after {
      position: absolute;
      width: 15px;
      height: 15px;
      top: 0;
      left: -20px;
    }

    &.active {
      display: inline-block;
    }
  }

  &__have.active {
    color: $btn-green;
  }

  &__have::after {
    content: url(../img/icons/have.svg);
  }

  &__not-have::after {
    content: url(../img/icons/not-have.svg);
  }
}

.title-cart {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -1.2px;
  margin-bottom: 20px;
}

.property {
  background-color: $grey;
  padding-bottom: 40px;

  &__container {
    display: flex;
    gap: 1.5%;
  }

  &__slider {
    flex: 1 0 40.5%;
    position: relative;
    height: 100%;
    min-width: 0;
  }

  &__body {
    flex: 1 0 58%;
    flex-direction: column;
    color: $dark-blue;
  }

  &__info {
    max-width: 270px;
    font-size: 16px;
    margin-bottom: 25px;
  }

  &__body-bottom {
    display: flex;
    gap: 24px;
  }

  &__parameters {
    width: 100%;
  }

  &__color-name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;

    span {
      font-size: 16px;
      font-weight: 400;
      color: $blue-text;
      margin-left: 12px;
    }
  }

  &__color-btns {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
  }

  &__btn-ch,
  &__btn-x,
  &__btn-cr {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;

    &.active {
      border: 1.5px solid $beige;
    }
  }

  &__btn-ch {
    background: linear-gradient(to right, #959496, #E6E6E6);
    border: 1.5px solid $beige;
  }

  &__btn-x {
    background: linear-gradient(to right, #9E876A, #D5C29F);
  }

  &__btn-cr {
    background: linear-gradient(to right, #D1D1D1, #DDAF86);
  }

  &__description {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__item {
    padding: 10px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey-border;
    color: $blue-text;
  }

  &__activity {
    flex: 1 0 40%;
    text-align: center;
  }

  &__wrap {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
  }

  &__price {
    font-size: 22px;
    font-weight: 600;
    text-align: start;
    color: $blue;
    margin-bottom: 20px;
  }

  &__btn-cart {
    width: 100%;
    margin-bottom: 8px;
  }

  &__btn-buy {
    width: 100%;
    background-color: $grey;
    color: $blue;
    border: 1px solid $grey-border;

    &:hover {
      background-color: $grey-hover;
    }
  }

  &__text {
    margin: 0 30px;
    text-align: start;
    color: $blue-text;
  }
}

.slider-big {
  margin-bottom: 15px;
  position: relative;
  z-index: 0;

  &__slider {
    height: 526px;
  }

  &__slide {
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }
  }

  &__img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.slider-small {
  position: relative;

  &__slider {
    height: 96px;
    margin: 0 48px;
  }

  &__slide {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid transparent;

    &:hover {
      cursor: pointer;
    }

    &.swiper-slide-thumb-active {
      border-color: $beige;
    }
  }


  &__img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    height: 32px;
    width: 32px;
    top: 55%;
  }

  .swiper-button-prev {
    left: 0px;
  }

  .swiper-button-next {
    right: 0px;
  }
}

.profile {
  background-color: $grey;
  padding-bottom: 80px;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  &__text {
    grid-column: span 3;
    font-size: 16px;
    color: $blue-text;
  }

  &__paragraph:not(:last-child) {
    margin-bottom: 15px;
  }

  &__model {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: auto;
  }

  &__subtitle {
    color: $blue;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__item {
    position: relative;
    font-size: 16px;
    color: $blue-text;
    padding-left: 30px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &::after {
      content: url(../img/icons/arrow-model.svg);
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.colection {
  background-color: $grey;
  padding-bottom: 130px;

  &__container {
    position: relative;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__slider {
    height: 167px;
    padding: 10px;
    margin: -10px;
  }

  &__slide {
    display: flex;
    gap: 15px;
    padding: 15px 15px 20px;
    background-color: #fff;
    border-radius: 10px;
    color: $blue;
    box-shadow: 0px 0px 10px 5px $grey;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 0px 10px 5px $grey-active;

      .colection__link::after {
        left: 75px;
      }
    }
  }

  &__img-wrap {
    width: 103px;
    height: 103px;
    text-align: center;
  }

  &__img {
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 120px;
    text-align: start;
    line-height: 1.35;
    letter-spacing: -0.3px;
  }

  &__text {
    font-weight: 500;
  }

  &__link {
    display: inline-block;
    position: relative;
    font-weight: 600;

    span {
      border-bottom: 1px solid $blue;
    }

    &::after {
      content: url(../img/icons/arrow-filter-blue.svg);
      transform: rotate(-90deg);
      position: absolute;
      width: 8px;
      top: 2px;
      left: 70px;
      transition: left 0.3s;
    }
  }
}

.colection,
.optional {
  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -40px;
  }

  .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    background-color: $beige;
    opacity: 0.4;
  }

  .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    opacity: 1;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  border-radius: 50%;
  background-color: $beige;
  z-index: 1;
}

.swiper-button-prev {
  left: -64px;
}

.swiper-button-next {
  right: -64px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 10px;
  color: #fff;
}


.optional {
  padding-bottom: 132px;

  &__container {
    position: relative;
  }

  background-color: $grey;

  &__title {
    margin-bottom: 40px;
  }

  &__slider {
    height: 553px;
    padding: 10px;
    margin: -10px;
  }

  &__collection {
    display: none;
  }

  .product-cart__price {
    margin-top: auto;
  }
}

.pagination {
  display: flex;

  &__container {
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $beige;
    position: relative;
    transition: background-color 0.3s;

    &:hover {
      background-color: $beige-hover;
    }

    &::after {
      content: url(../img/icons/arrow-paination.svg);
      position: absolute;
      top: 13px;
      right: 16px;
    }

    &_left {
      &::after {
        transform: rotate(180deg);
        top: 12px;
        right: 17px;
      }

      &.disabled {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    gap: 20px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blue;
    font-size: 15px;
    width: 100%;
    transition: width 0.3s;
    margin: 0;

    &::after {
      content: ('');
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: absolute;
      background-color: $beige;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &.active {
      margin-right: 25px;

      &::after {
        opacity: 0.2;
      }
    }
  }
}


@import "_media";